<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{registration.title}"/>
</head>
<body>
<div layout:fragment="content">
    <h1 class="grow text-3xl font-medium mb-8 text-center" th:text="#{registration.title}"/>
    <p class="mb-12 text-center" th:text="#{registration.headline}"/>

    <form class="max-w-sm mx-auto text-center" th:action="@{/registration}" method="post">
        <div class="mb-5">
            <label for="username" class="block mb-2 text-sm font-medium" th:text="#{username}"/>
            <input type="text" autofocus id="username" name="username" class="bg-gray-50 text-center border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="username" required />
        </div>
        <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium " th:text="#{password}"/>
            <input type="password" id="password" name="password" class="bg-gray-50 text-center border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>
        <div class="mb-5">
            <label for="confirm" class="block mb-2 text-sm font-medium " th:text="#{confirm}"/>
            <input type="password" id="confirm" name="matchingPassword" class="bg-gray-50 text-center border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" th:text="#{submit}"/>
    </form>

    <p class="text-center text-red-500 my-5" th:if="${param.error}" th:text="#{password.error}"/>
</div>
</body>
</html>
